.item {
  display: flex;
  padding-bottom: 20px;
  width: 350px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

div {
  text-align: center;
  background-color: #e6e6fa;
  border: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 30px;
}

input {
  margin-left: 42px;
}

#text,
h1 {
  padding-left: 42px;
}

#counter {
  background-color: #fff;
}
